.banner3{
    position: relative;
    top: 0;


}

/*---Footer---*/
        .footer {
            /* padding: absolute; */
            position: relative;
            bottom: 0;
            color: white;
            background-color: black;
            margin-top: auto;

        }

        .down {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 20px 0;
            background-color: black;
            color: white;
        }

        .footer {
            width: 250px;

        }

        .footer h3 {
            margin-bottom: 10px;
            color: rgb(0, 255, 72);
        }

        .footer p,
        .footer li a {
            color: white;
            text-decoration: none;
            line-height: 1.8;
        }

        .footer li {
            list-style: none;
        }

        .footer li a:hover {
            color: red;
        }

        .footer i {
            color: white;
            font-size: 20px;
            margin-right: 10px;
            transition: 0.3s;
        }

        .footer i:hover {
            color: rgb(0, 255, 72);
        }

        .bottom {
            background-color: #000dff;
            text-align: center;
            padding: 10px;
            font-size: 14px;
            border-top: 1px solid black;
            color: white;
        }

        /*---Socal Media----*/
        .footer .social-icons {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }

        .footer .social-icons a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            background: #222;
            border-radius: 50%;
            text-decoration: none;
            transition: 0.3s;
        }

        .footer .social-icons a i {
            color: white;
            font-size: 18px;
            transition: 0.3s;
        }

        .footer .social-icons a:hover {
            background-color: rgb(0, 255, 72);
        }

        .footer .social-icons a:hover i {
            color: black;
        }